@import './../assets/styles/color.scss';

:host {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

 
h2{
    color: $tablefontColor;
    .highlight{
        color: #19b5f1;
    }
} 