@import './../assets/styles/color.scss';

:host {
    display: flex;
    flex-direction: column;
    margin: 30px;
  }

h2{
    color: #777;
    .highlight{
        color: #19b5f1;
    }
}
table {
  width: 100%;
  text-align: center !important;
}

tr:focus {
  outline: none;
}

th.mat-header-cell {
    text-align: left;
    font-size: 19px;
    font-weight: 400;
}

th.mat-header-cell,td.mat-cell{
    &:first-of-type{
        padding: 7px 14px;
    }
}

.action-items-container{
    fa-icon{
        margin: 7px;
    }
}

.role-elements{
    display: inline-block;
    margin: 2px;
    padding: 4px 7px;
    border-radius: 3px;
    font-weight: 500;
}

.admin-role{
    background: lighten($adminColor, 40%);
    color: $adminColor;
}

.editor-role{
    background: lighten($editorColor, 60%);
    color: $editorColor;
}

.viewer-role{
    background: lighten($viewerColor, 40%);
    color: $viewerColor;
}

