
@import './color.scss';
// table

tr.mat-header-row{
    height: 42px !important;    
    background: $darkBg;
}

th.mat-header-cell, td.mat-cell, td.mat-footer-cell {
    border: 1px solid $tableBorder !important;
}

.mat-sort-header-container{
    justify-content: center;
}

.mat-header-cell {
    text-align: center !important;
}

.mat-cell {
    color: $tablefontColor !important
}

tr.mat-row:nth-child(2n){
    background: $darkBg;
}

.mat-table{
    box-shadow: none;
}

//Checkbox

.mat-checkbox-background{
    background: transparent !important;
}
.mat-checkbox-checkmark-path{
    stroke: $tableIconColor !important;
}

//Resizable

mwlResizable {
    box-sizing: border-box;
  }